<!-- footer -->
    <div class="footer">
        <p>
          © Copyright 2014 The Awesome People  &nbsp; &nbsp;<a href="https://www.w3schools.com/w3css/" target="_blank">W3Schools layout</a>
        </p>
    </div>