<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
          <div class="w3-container l3 w3-text-grey w3-padding" >
            <% include partials/nav %>

                <div class="w3-row w3-grayscale">
                    <div class="w3-col l1">
                        <p></p>
                    </div>
                    <div class="w3-col l3">
                        <h2>About page</h2>
						<ul>
							<li>Done with W3Schools CSS templates</li>
							<li>Looks nice eh!!</li>
						</ul>
                        
                    </div>
                    <div class="w3-col l3">
                        <h2>Made using: </h2>

						<ul>
							<li>a local version of Node</li>
							<li>a hosted Mongo DB </li>
							<li>This is a link to <a href="https://github.com/ethornbury/node-mongo-cloud" > github </a></li>
                        </ul>
                    </div>
                    <div class="w3-col l3">
                        <h2>Another thing here</h2>
						<ul>
							<li>So</li>
							<li>what</li>
							<li>now...?</li>
                        </ul>
						
                    </div>
                </div>
            <% include partials/footer %>
          </div>
  </body>
</html>