<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
          <div class="w3-container l3 w3-text-grey w3-padding" >
            <% include partials/nav %>

                <div class="w3-row w3-grayscale">
                    <div class="w3-col l1">
                        <p></p>
                    </div>
                    <div class="w3-col l5">
						<p>
						<img src="404_error.png" alt="404 error image goes here">
						</p>
                        <h2>Error page...</h2>
						<h4>...don't know where you think you were going there mate!!</h4>
                       
                    </div>               
                </div>
            <% include partials/footer %>
          </div>
  </body>
</html>